.socialsharing {
    text-align: center;
}

    .socialsharing a {
        display: inline-block;
        padding: .7em;
        line-height: 0;
        margin-bottom: 2em;
    }

    .socialsharing path {
        fill: gray;
    }

    .socialsharing svg {
        width: 24px;
        height: 24px;
    }
