@using System.Globalization;
@using Common.Utilities;
@using ViewModels
@model LeaveViewModel

@{
    ViewData["title"] = "NHÀ MÁY | CÔNG TY TNHH CNSH SÀI GÒN XANH";
}

<div class="main-container">
    <section class="space-sm">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <h3>Lối tắt</h3>
                    <div class="row mb-2">
                        <div class="col-12">
                            <a href="/@Constants.KeHoachTongHopLink.Main/@Constants.KeHoachTongHopLink.DuLieuKhoNguyenVatLieu" class="btn btn-block btn-outline-info">
                                KHO NGUYÊN VẬT LIỆU
                            </a>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-12">
                            <a href="/@Constants.KeHoachTongHopLink.Main/@Constants.KeHoachTongHopLink.DuLieuKhoThanhPham" class="btn btn-block btn-outline-info">
                                KHO THÀNH PHẨM
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <i class="far fa-clock"></i>
                            <span>
                                Đang cập nhật thông tin.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/leave/leave.js?@Constants.VersionJs"></script>
    }
}


