@using System.Globalization;
@using Common.Utilities;
@using Common.Enums;
@using ViewModels
@model LeaveViewModel

@{
    ViewData["title"] = "NHÀ MÁY | CÔNG TY TNHH CNSH SÀI GÒN XANH";
    var login = User.Identity.Name;
    var rightDataKhoNguyenVatLieu = false;
    var rightDataKhoThanhPham = false;
    var rightDataKhoHangTraVe = false;
    var rightDataKhoBun = false;
    var rightDataTramCan = false;
    if (!string.IsNullOrEmpty(login))
    {
        rightDataKhoNguyenVatLieu = Utility.IsRight(login, Constants.Rights.KhoNguyenVatLieuDuLieu, (int)ERights.View);
        rightDataKhoThanhPham = Utility.IsRight(login, Constants.Rights.KhoThanhPhamDuLieu, (int)ERights.View);
        rightDataKhoHangTraVe = Utility.IsRight(login, Constants.Rights.KhoHangTraVeDuLieu, (int)ERights.View);
        rightDataKhoBun = Utility.IsRight(login, Constants.Rights.KhoBunDuLieu, (int)ERights.View);
        rightDataTramCan = Utility.IsRight(login, Constants.Rights.TramCanDuLieu, (int)ERights.View);
    }
}

<div class="main-container">
    <section class="space-sm">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <h3>Lối tắt</h3>
                    @if (rightDataKhoNguyenVatLieu)
                    {
                        <div class="row mb-2">
                            <div class="col-12">
                                <a href="/@Constants.KeHoachTongHopLink.Main/@Constants.KeHoachTongHopLink.DuLieuKhoNguyenVatLieu" class="btn btn-block btn-outline-info">
                                    KHO NGUYÊN VẬT LIỆU
                                </a>
                            </div>
                        </div>
                    }

                    @if (rightDataKhoThanhPham)
                    {
                        <div class="row mb-2">
                            <div class="col-12">
                                <a href="/@Constants.KeHoachTongHopLink.Main/@Constants.KeHoachTongHopLink.DuLieuKhoThanhPham" class="btn btn-block btn-outline-info">
                                    KHO THÀNH PHẨM
                                </a>
                            </div>
                        </div>
                    }

                    @if (rightDataKhoHangTraVe)
                    {
                        <div class="row mb-2">
                            <div class="col-12">
                                <a href="/@Constants.KeHoachTongHopLink.Main/@Constants.KeHoachTongHopLink.DuLieuKhoHangTraVe" class="btn btn-block btn-outline-info">
                                    KHO HÀNG TRẢ VỀ
                                </a>
                            </div>
                        </div>
                    }

                    @if (rightDataKhoBun)
                    {
                        <div class="row mb-2">
                            <div class="col-12">
                                <a href="/@Constants.KeHoachTongHopLink.Main/@Constants.KeHoachTongHopLink.DuLieuKhoBun" class="btn btn-block btn-outline-info">
                                    KHO BÙN
                                </a>
                            </div>
                        </div>
                    }

                    @if (rightDataTramCan)
                    {
                        <div class="row mb-2">
                            <div class="col-12">
                                <a href="/@Constants.KeHoachTongHopLink.Main/@Constants.KeHoachTongHopLink.DuLieuTramCan" class="btn btn-block btn-outline-info">
                                    TRẠM CÂN
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <i class="far fa-clock"></i>
                            <span>
                                Đang cập nhật chức năng, báo cáo,...
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/factory/index.js?@Constants.VersionJs"></script>
    }
}


