@using Helpers;

@{
    Layout = "~/Views/Shared/_LayoutSocialFb.cshtml";
}

<div class="main-container">
    <section class="space-lg bg-white">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-12 col-md-6 col-lg-5 text-center text-md-left section-intro">
                    <h5><i class="icon-lock"></i>Giới hạn nội dung!</h5>
                    <span class="lead">
                        Bạn chưa được gán quyền để truy cập nội dung này.
                    </span>
                    <a href="javascript:history.back()" class="btn btn-success btn-lg">Trở lại</a>
                    <a href="/" class="btn btn-success btn-lg">Trang chủ</a>
                </div>
                <!--end of col-->
                <div class="col-12 col-md-6 col-lg-6">
                    <img alt="Image" class="img-fluid w-100" src="~/assets/wingman/img/graphic-golden-gate-bridge.svg">
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>

