@{
    Layout = "~/Views/Shared/_LayoutSocial.cshtml";
    ViewData["Title"] = "Tạo mật khẩu thành công";
}

<div class="nav-container">
</div>
<div class="main-container">
    <section class="space-sm">
        <div class="container align-self-start">
            <div class="row mb-2">
                <div class="col text-center">
                    <a href="/">
                        <img alt="SaiGonXanh" src="~/images/saigonxanh.png" />
                    </a>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-7">
                    <div class="card card-lg text-center">
                        <div class="card-body">
                            <div class="mb-5">
                                <h1 class="h2 mb-2">@ViewData["Title"]</h1>
                                <span>
                                    Vui lòng kiểm tra email. Mật khẩu mới đã khởi tạo.
                                    Nếu chưa có email. Vui lòng làm mới (refresh).
                                    Please check your email to reset your password.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <span class="text-small d-none">
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Đăng ký tài khoản mới?</a>
                        </span>
                        <span class="text-small">
                            <a asp-action="Login">Đăng nhập?</a>
                        </span>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
</div>
