@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutSocial.cshtml";
    ViewData["Title"] = "Thay đổi mật khẩu mới";
}

<div class="nav-container">
</div>
<div class="main-container">
    <section class="space-sm">
        <div class="container align-self-start">
            <div class="row mb-2">
                <div class="col text-center">
                    <a href="/">
                        <img alt="SaiGonXanh" src="~/images/saigonxanh.png" />
                    </a>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-7">
                    <div class="card card-lg text-center">
                        <div class="card-body">
                            <div class="mb-5">
                                <h1 class="h2 mb-2">@ViewData["Title"]</h1>
                            </div>
                            <div class="row no-gutters justify-content-center">
                                <form class="text-left col-lg-8" asp-action="ForgotPassword" method="post">
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control form-control-lg" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control form-control-lg" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control form-control-lg" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control form-control-lg" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button type="submit" class="btn btn-lg btn-primary">Tạo mật khẩu mới</button>
                                    </div>
                                    <span class="badge badge-danger">@Html.ValidationSummary(true)</span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <span class="text-small d-none">
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Đăng ký tài khoản mới?</a>
                        </span>
                        <span class="text-small">
                            <a asp-action="Login">Đăng nhập?</a>
                        </span>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
</div>