
@{
    ViewData["Title"] = "Administrator privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update password for security</h2>

<form asp-action="UpdatePwdSubmit">
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-default" />
    </div>
</form>

<h2>Add function for security</h2>
<form asp-action="AddFunction">
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-default" />
    </div>
</form>

<h2>Update role for security</h2>
<form asp-action="UpdateRolesSubmit">
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-default" />
    </div>
</form>
