@using Helpers;
@{
    var language = ViewData["Language"].ToString();
}

<div class="main-container">
    <section class="space-lg bg-white">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-12 col-md-6 col-lg-5 text-center text-md-left section-intro">
                    <h1 class="display-3">@Html.Raw(ViewBag.Title)</h1>
                    <span class="lead">
                        @Html.Raw(TextHelper.GetText(541, language))
                    </span>
                    <a href="/" class="btn btn-success btn-lg">@Html.Raw(TextHelper.GetText(525, language))</a>
                </div>
                <!--end of col-->
                <div class="col-12 col-md-6 col-lg-6">
                    <img alt="Image" class="img-fluid w-100" src="~/assets/wingman/img/graphic-woman-writing.svg">
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>