.toplink .hotline {
    background: url("/images/phone.png") 0 0 no-repeat;
    padding-left: 25px;
    text-transform: uppercase;
    margin-right: 15px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000;
}
    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
        color: #00a859;
    }

.section-intro h4, .section-intro .h4 {
    line-height: 1.875rem;
    margin-bottom: 2rem;
}
.menu-mobile .text {
    text-transform: uppercase;
    display: inline-block;
}
.display-none{
    display:none;
}
.bg-dark .breadcrumb-item a, .text-light .breadcrumb-item a, .text-white .breadcrumb-item a {
    margin-bottom: 0;
}
.js-auto-size{
    min-height:60px !important;
}
.card-img-top-custom{
    max-height:233px;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

    .rslides li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
    }

        .rslides li:first-child {
            position: relative;
            display: block;
            float: left;
        }

    .rslides img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0;
    }

.navbar-light .navbar-nav .nav-link.active {
    color: #00a859;
}
.x-sub-nav-about .short {
    width:auto;
    margin: 0.3rem 0;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
}

    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
.img-relation-product{
    height:4rem;
    width:6rem;
}