@using Common.Utilities;
@using ViewModels;
@model BangLuongViewModel
@{
    Layout = "~/Views/Shared/_LayoutSocialFbFS.cshtml";
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Dữ liệu vay & tạm ứng</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.BangLuong/@Constants.LinkSalary.Update">BẢNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Timer">CHẤM CÔNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Setting">THAM SỐ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkCredit.Main/@Constants.LinkCredit.CreditsNM/@Constants.LinkSalary.Update">VAY & TẠM ỨNG</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="law" role="tabpanel" aria-labelledby="law-tab">
                <form action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Credits/@Constants.LinkSalary.Update" method="post" class="data-form">
                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="button" class="btn btn-success btn-edit d-none" data-toggle="tooltip" title="Bấm thay đổi dữ liệu.">
                                <i class="icon icon-edit"></i>Chỉnh sửa
                            </button>

                            <button type="submit" class="btn btn-primary btn-submit" data-toggle="tooltip" title="Bấm để cập nhật dữ liệu.">
                                <i class="icon icon-save"></i>Lưu thay đổi
                            </button>
                            <button type="button" class="btn btn-success btn-back d-none" data-toggle="tooltip" title="Bấm để trở về.">
                                <i class="icon icon-back"></i>Trở về
                            </button>
                        </div>
                    </div>
                    <span>ĐVT: 1,000 vnđ</span>
                    <div class="row">
                        @{
                            <div class="col-12 table-responsive-sm">
                                <table class="table table-responsive-sm table-bordered table-salary-level">
                                    <tr style="background-color:yellow!important">
                                        <th style="vertical-align:middle;font-weight:bold" nowrap>#</th>
                                        <th style="vertical-align:middle;font-weight:bold" nowrap>Họ và tên</th>
                                        <th style="vertical-align:middle;font-weight:bold" nowrap>Mã NV</th>
                                        <th style="vertical-align:middle;font-weight:bold" nowrap>Khoản vay/ tạm ứng</th>
                                    </tr>
                                    <tbody>
                                        @{
                                            int i = 1;
                                            int iEntity = 0;
                                            foreach (var item in Model.SalaryCredits)
                                            {
                                                <tr class="tr-@iEntity" data-id="@item.Id">
                                                    <td>
                                                        @i
                                                        <input type="hidden" asp-for="SalaryCredits[iEntity].Id" />
                                                    </td>
                                                    <td>@item.FullName</td>
                                                    <td>@item.MaNhanVien</td>
                                                    <td>
                                                        <input value="@Math.Round(Model.SalaryCredits[iEntity].MucThanhToanHangThang/1000, 0)" name="SalaryCredits[@iEntity].MucThanhToanHangThang" class="form-control width100 numeric mucthanhtoanhangthang-@iEntity" data-id="mucthanhtoanhangthang-@iEntity" />
                                                    </td>
                                                </tr>
                                                i++;
                                                iEntity++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/salary-credit-update.js?@DateTime.Now.Ticks"></script>
}



