@using Common.Utilities;
@using Common.Enums;
@model ViewModels.EmployeeViewModel

<div class="modal fade" id="newKhoiChucNangModal" tabindex="-1" role="dialog" aria-labelledby="newKhoiChucNangLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Thêm mới Khối chức năng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" method="post" action="/api/khoichucnang" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="result"></span>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Khối chức năng mới</label>
                        <input name="Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group existData"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="button" class="btn btn-primary btn-save-khoichucnang"><i class="icon-save"></i>&nbsp;Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newChucVuModal" tabindex="-1" role="dialog" aria-labelledby="newChucVuLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Thêm mới Chức vụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" method="post" action="/api/chucvu" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="result"></span>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Nơi làm việc</label>
                        <select name="CongTyChiNhanhId" class="form-control form-control-lg CongTyChiNhanhIdModal">
                            <option value="">Chọn</option>
                            @{
                                foreach (var item in Model.CongTyChiNhanhs)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Khối chức năng</label>
                        <select name="KhoiChucNangId" class="form-control form-control-lg KhoiChucNangIdModal">
                            <option value="">Chọn</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Phòng ban</label>
                        <select name="PhongBanId" class="form-control form-control-lg PhongBanIdModal">
                            <option value="">Chọn</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Chức vụ mới</label>
                        <input name="Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group existData"></div>

                    <div class="form-group">
                        <small>Nếu có thể thì chia nhỏ chức vụ cho từng cấp (Khối chức năng, phòng ban)</small>
                        <small>Vd 1: [Công nhân] thì chọn tới cấp phòng ban</small>
                        <small>Vd 2: [Giám đốc nhà máy] thì không chọn bên dưới. Vì chức vụ này quản lý tất cả cấp bên dưới.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="button" class="btn btn-primary btn-save-chucvu"><i class="icon-save"></i>&nbsp;Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newPhongBanModal" tabindex="-1" role="dialog" aria-labelledby="newPhongBanLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Thêm mới Phòng/ban</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" method="post" action="/api/phongban" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="result"></span>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Khối chức năng</label>
                        <select name="KhoiChucNangId" class="form-control form-control-lg KhoiChucNangId">
                            @{
                                foreach (var item in Model.KhoiChucNangs)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Phòng/ban</label>
                        <input name="Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group existData"></div>
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <textarea name="Description" class="form-control form-control-lg js-auto-size"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="button" class="btn btn-primary btn-save-phongban"><i class="icon-save"></i>&nbsp;Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newTitle" tabindex="-1" role="dialog" aria-labelledby="newTitleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Thêm mới Công việc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/api/title" enctype="multipart/form-data">
                <span class="result"></span>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Công việc</label>
                        <input name="Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <textarea name="Description" class="form-control form-control-lg js-auto-size"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="button" class="btn btn-primary btn-save-title"><i class="icon-save"></i>&nbsp;Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newHospital" tabindex="-1" role="dialog" aria-labelledby="newHospitalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Thêm mới Bệnh viện</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" method="post" action="/api/hospital" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="result"></span>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Mã KCB</label>
                        <input name="Code" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tuyến</label>
                        <input name="Local" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tỉnh/Thành phố</label>
                        <input name="City" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Quận/Huyện</label>
                        <input name="District" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cơ sở khám chữa bệnh</label>
                        <input name="Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Địa chỉ</label>
                        <input name="Address" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Điều kiện</label>
                        <textarea name="Condition" class="form-control form-control-lg js-auto-size"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ghi chú</label>
                        <textarea name="Note" class="form-control form-control-lg js-auto-size"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="button" class="btn btn-primary btn-save-hospital"><i class="icon-save"></i>&nbsp;Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalnotice">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <a href="/hr/nhan-su/thong-tin/" class="btn btn-danger">Xem thông tin</a>
            </div>
        </div>
    </div>
</div>

<script id="tmplModalNotice" type="text/x-jsrender">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{:message}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer">
        <a href="/hr/nhan-su/thong-tin/{{:id}}" class="btn btn-info">Xem thông tin</a>
        <a href="/hr/nhan-su/tao-moi" class="btn btn-primary">Thêm mới</a>
        <a href="/hr/nhan-su" class="btn btn-cyan">Danh sách</a>
    </div>
</script>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
