@using Common.Utilities;

@{
    ViewData["Title"] = "Nghỉ phép";
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="text-white position-absolute">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/@Constants.LinkDocument.Main/@Constants.LinkDocument.GettingStarted">Hướng dẫn</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>

    <section class="bg-primary text-light p-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="space-lg pb-0">
                        <h1 class="display-4">@ViewData["Title"]</h1>
                        <span class="lead">
                            Hướng dẫn sử dụng chức năng nghỉ phép.
                        </span>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
        <svg class="decorative-divider" preserveAspectRatio="none" viewbox="0 0 100 100">
            <polygon fill="#F8F9FB" points="0 100 100 100 100 0"></polygon>
        </svg>
    </section>
    <!--end of section-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-2 mb-5">
                    <nav class="nav flex-md-column">
                        <a href="#" class="nav-link">Phiên bản <span class="badge badge-secondary">v1.0.0</span></a>
                    </nav>
                    <hr class="short">
                    <nav class="nav flex-md-column mb-2">

                        <a href="/@Constants.LinkDocument.Main/@Constants.LinkDocument.GettingStarted" class="nav-link">Bắt đầu</a>

                        <a href="/@Constants.LinkDocument.Main/@Constants.LinkDocument.Information" class="nav-link">Thông tin cá nhân</a>

                        <a href="/@Constants.LinkDocument.Main/@Constants.LinkDocument.Leave" class="active nav-link">Nghỉ phép</a>

                        <a href="/@Constants.LinkDocument.Main/@Constants.LinkDocument.Timer" class="nav-link">Chấm công</a>

                        <a href="#" class="nav-link">...</a>
                    </nav>

                </div>
                <!--end of col-->
                <div class="col-12 col-md-8">

                    <article id="thong-tin-nghi-phep">
                        <h3>
                            Thông tin nghỉ phép
                        </h3>
                        <div>
                            <p>Bấm vào đường dẫn <code>Nghỉ phép</code> để xem thông tin nghỉ phép</p>
                            <figure class="figure" style="margin: 1rem 0;">
                                <img src="~/images/docs/infor-login-web.jpg" alt="Thông tin đăng nhập" />
                                <figcaption class="figure-caption">Thông tin đăng nhập</figcaption>
                            </figure>
                            <p>
                                Trong đó:
                            </p>
                            <ul>
                                <li><code>Đường dẫn</code> là địa chỉ hệ thống tribat. <code>Bấm</code> để đi đến hoặc <code>Sao chép & dán</code> vào trình duyệt web (Chrome, Coccoc, Firefox, IE,...)</li>
                                <li><code>Tên đăng nhập</code> là thông tin đăng nhập</li>
                                <li><code>Mật khẩu</code> là mật khẩu đăng nhập.</li>
                                <li><code>Email</code> là địa chỉ email dùng để nhận thư từ hệ thống,...</li>
                            </ul>
                        </div>
                    </article>

                    <article id="tao-nghi-phep">
                        <h3>
                            Đăng nhập
                        </h3>
                        <div>
                            <p>Sử dụng <code>Tên đăng nhập</code> và <code>Mật khẩu</code> để đăng nhập vào hệ thống</p>
                            <figure class="figure" style="margin: 1rem 0;">
                                <img src="~/images/docs/login-page-web.jpg" alt="Đăng nhập" />
                                <figcaption class="figure-caption">Đăng nhập: nhập thông tin tương ứng</figcaption>
                            </figure>
                            <p>
                                Trong đó:
                            </p>
                            <ul>
                                <li><code>Tên đăng nhập</code> mỗi người dùng sẽ có 1 tên đăng nhập khác nhau.</li>
                                <li><code>Mật khẩu</code> là mật khẩu đăng nhập.</li>
                                <li><code>Quên mật khẩu</code> dùng để lấy lại mật khẩu nếu quên. Thông tin sẽ được gửi qua địa chỉ email.</li>
                                <li><code>Nhớ tài khoản</code> thông tin sẽ được lưu và sử dụng cho lần đăng nhập sau.</li>
                            </ul>

                            <pre class="language-bash">Bàn phím bấm <code>ENTER</code> hoặc di chuyển chuột tới nút <code>Đăng nhập</code> để đăng nhập.</pre>

                            <p>Nếu thông tin sai, hệ thống sẽ thông báo, vui lòng nhập lại thông tin chính xác hoặc hỗ trợ</p>
                            <figure class="figure" style="margin: 1rem 0;">
                                <img src="~/images/docs/infor-login-error-web.jpg" alt="Thông tin đăng nhập không đúng" />
                                <figcaption class="figure-caption">Đăng nhập: nhập thông tin không đúng</figcaption>
                            </figure>
                            <p>Nếu cần có thể tạo mật khẩu mới bằng cách:</p>
                            <pre class="language-bash">Di chuyển chuột tới đường dẫn <code>Quên mật khẩu</code> để tạo lại mật khẩu mới.</pre>
                        </div>
                    </article>

                    <article id="ho-tro">
                        <h3>
                            Hỗ trợ
                        </h3>
                        <div>
                            <p>Mọi thắc mắc & yêu cầu gửi về email bên dưới.</p>
                            <p>
                                Hỗ trợ: <a href="mailto:hotro@tribat.vn" target="_top"> hotro@tribat.vn</a>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col">
                    <nav id="nav-components" class="nav flex-md-column" data-sticky="below-nav">

                        <a data-smooth-scroll href="#thong-tin-nghi-phep" class="nav-link text-small">Thông tin nghỉ phép</a>

                        <a data-smooth-scroll href="#tao-nghi-phep" class="nav-link text-small">Tạo nghỉ phép</a>

                        <a data-smooth-scroll href="#ho-tro" class="nav-link text-small">Hỗ trợ</a>

                    </nav>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="bg-gradient p-0 text-white">
        <svg class="decorative-divider" preserveAspectRatio="none" viewbox=" 0 0 100 100">
            <polygon fill="#F8F9FB" points="0 0 100 0 100 100"></polygon>
        </svg>
        <div class="container space-lg">
            <div class="row text-center">
                <div class="col">
                    <h3 class="h1">Xem thông tin, nghỉ phép, chấm công...</h3>
                    <a href="/tk/dang-nhap" class="btn btn-lg btn-light">Bắt đầu</a>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>

