
@{
    ViewData["Title"] = "Notification";
    Layout = "~/Views/Shared/_LayoutSocialFb.cshtml";
}

<h2>Notification</h2>

No data
<img jsname="QuFn6d" jsaction="click:BtwzUc" alt="" role="presentation" width="100" height="100" src="//ssl.gstatic.com/s2/oz/images/notifications/jingles_eb4e5306b38f83915d82034fa93390d9/desktop_anim_2x.gif" data-animatedsrc="//ssl.gstatic.com/s2/oz/images/notifications/jingles_eb4e5306b38f83915d82034fa93390d9/desktop_anim_2x.gif">

