<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{0}</title>
</head>

<body>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                Mã lỗi: {1},
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    Thông tin lỗi:
                </div>
                <div>
                    Thời gian xảy ra: <b>{2}</b>
                    <br />
                    Nguyên nhân: <b>{3}</b>
                    <br />
                    Loại email: <b>{4}</b>
                    <br />
                    Nội dung: <b>{5}</b>
                    <br />
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
