<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{0}</title>
</head>

<body>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                Kính gửi {1},
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Bộ phận nhân sự ({2}) đã cập nhật thông tin của ông/bà vào ngày <b>{3}</b>
                    <br />
                    Vui lòng truy cập vào link <a href="{4}"> Chi tiết </a> để xem thông tin.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    <small style="font-size:10px; font-style:italic">
                        Thư điện tử này được gửi ra từ hệ thống tự động.
                        Quý bà/ông vui lòng không hồi âm về địa chỉ thư điện tử này.
                        Tribat duy trì tiêu chuẩn và thủ tục bảo mật nghiêm ngặt để ngăn chặn việc sử dụng trái phép thông tin của bạn.
                    </small>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    Cảm ơn và trân trọng.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <a href="{5}" style="text-decoration:underline;">
                    <img src="{5}/images/logo.png" width="113" height="29" style="display:block">
                </a>
                <br />
                <br />
                <b>Công ty TNHH CNSH SÀI GÒN XANH</b>
                <br />
                127 Nguyễn Trọng Tuyển, P. 15, Q. Phú Nhuận, HCM
                <br />
                Điện thoại:     028.3844.2457 – Ext: 151
                <br />
                Fax:   028.3997.1869
                <br />
                MST:  0302519810
                <br />
                Giờ làm việc: Thứ 2 - Thứ 7 8:00 - 17:00, Chủ nhật: Nghỉ
                <br />
                Hỗ trợ: <a href="mailto:hotro@tribat.vn" style="text-decoration:none;">hotro@tribat.vn</a>
            </td>
        </tr>
    </table>
</body>
</html>
