<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{0}</title>
</head>

<body>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                Kính gửi {1},
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    Kết quả yêu cầu nghỉ phép:
                </div>
                <div>
                    Tình trạng: <b>{2}</b>
                    <br />
                    Người duyệt: <b>{3}</b>
                    <br />
                    Email: <b>{4}</b>
                    <br />
                    Chức vụ: <b>{5}</b>
                    <br />
                    <hr align="left" style="border:0px;border-top:1px solid red;height:1px;color:red;background:red;margin:0px;" />
                    Chi tiết nghỉ:
                    <br />
                    Ngày: <b>{6}</b>
                    <br />
                    Lý do: <b>{7}</b>
                    <br />
                    Loại phép: <b>{8}</b>
                    <br />
                    Số điện thoại liên hệ: <b>{9}</b>
                    <br />
                    <br />
                    Chi tiết yêu cầu nghỉ <a href="{10}"> Chi tiết </a>
                </div>
                <div>
                    <br />
                    Mọi thắc mắc cần giải quyết vui lòng liên hệ phòng Hành chính - nhân sự.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    <small style="font-size:10px; font-style:italic">
                        Thư điện tử này được gửi ra từ hệ thống tự động.
                        Quý bà/ông vui lòng không hồi âm về địa chỉ thư điện tử này.
                        Tribat duy trì tiêu chuẩn và thủ tục bảo mật nghiêm ngặt để ngăn chặn việc sử dụng trái phép thông tin của bạn.
                    </small>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    Cảm ơn và trân trọng.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <a href="{11}" style="text-decoration:underline;">
                    <img src="{11}/images/logo.png" width="113" height="29" style="display:block">
                </a>
                <br />
                <br />
                <b>Công ty TNHH CNSH SÀI GÒN XANH</b>
                <br />
                127 Nguyễn Trọng Tuyển, P. 15, Q. Phú Nhuận, HCM
                <br />
                Điện thoại:     028.3844.2457 – Ext: 151
                <br />
                Fax:   028.3997.1869
                <br />
                MST:  0302519810
                <br />
                Giờ làm việc: Thứ 2 - Thứ 7 8:00 - 17:00, Chủ nhật: Nghỉ
                <br />
                Hỗ trợ: <a href="mailto:hotro@tribat.vn" style="text-decoration:none;">hotro@tribat.vn</a>
            </td>
        </tr>
    </table>
</body>
</html>
