<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{0}</title>
</head>

<body>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                Kính gửi {1} {2},
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    {3} {4} ({5}) đã duyệt {9}, {1} dành chút thời gian kiểm tra xác nhận.
                    <br />
                    Thông tin {6} {4}:
                    <br />
                    Email: <b>{7}</b>
                    <br />
                    Điện thoại: <b>{8}</b>
                    <br />
                    Vì tính chất quan trọng, {1} vui lòng sắp xếp thời gian cho việc này. 
                </div>
                <div>
                    <br />
                    Chi tiết {1} xem tài liệu đính kèm hoặc đường dẫn trực tiếp:
                    <br />
                    <a href="{10}">
                        Chi tiết {9}
                    </a>
                    <br />
                    Một số trình quản lý email / quy định (policies) không cho phép bấm vào liên kết.
                    <br />
                    Xin lỗi về sự bất tiện này. Anh/chị vui lòng chọn và sử dụng các đường dẫn (link) bên dưới:
                    <br />
                    <b>Chi tiết:</b> {10}
                    <br />
                    <small>Hướng dẫn sử dụng đường dẫn (link):</small>
                    <br />
                    <small>1. [Sao chép]/[Copy] đường dẫn (link)</small>
                    <br />
                    <small>2. Mở trình duyệt (browser)</small>
                    <br />
                    <small>3. [Dán]/[Paste] vào thanh địa chỉ (url) và đi đến đường dẫn.</small>
                </div>
                <div>
                    <br />
                    Mọi thắc mắc cần giải quyết vui lòng liên hệ phòng Hành chính - nhân sự.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    <small style="font-size:10px; font-style:italic">
                        Thư điện tử này được gửi ra từ hệ thống tự động.
                        Quý bà/ông vui lòng không hồi âm về địa chỉ thư điện tử này.
                        Tribat duy trì tiêu chuẩn và thủ tục bảo mật nghiêm ngặt để ngăn chặn việc sử dụng trái phép thông tin của bạn.
                    </small>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    Cảm ơn và trân trọng.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <a href="{11}" style="text-decoration:underline;">
                    <img src="{11}/images/logo.png" width="113" height="29" style="display:block">
                </a>
                <br />
                <br />
                <b>Công ty TNHH CNSH SÀI GÒN XANH</b>
                <br />
                127 Nguyễn Trọng Tuyển, P. 15, Q. Phú Nhuận, HCM
                <br />
                Điện thoại:     028.3844.2457 – Ext: 151
                <br />
                Fax:   028.3997.1869
                <br />
                MST:  0302519810
                <br />
                Giờ làm việc: Thứ 2 - Thứ 7 8:00 - 17:00, Chủ nhật: Nghỉ
                <br />
                Hỗ trợ: <a href="mailto:hotro@tribat.vn" style="text-decoration:none;">hotro@tribat.vn</a>
            </td>
        </tr>
    </table>
</body>
</html>
