<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{0}</title>
</head>

<body>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                Kính gửi {1},
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    Hệ thống nhận thấy bạn thiếu thời gian làm việc.
                </div>
                <div>
                    Mã chấm công: <b>{2}</b>
                    <br />
                    Nơi làm việc: <b>{3}</b> [NM: Nhà Máy | VP: Văn Phòng]
                    <br />
                    Thời gian làm việc qui định: <b>{4}</b>
                    <br />
                    Chi tiết chấm công:
                    <br />
                    Ngày: <b>{5}</b>
                    <br />
                    Chấm công vào: <b>{6}</b>
                    <br />
                    Chấm công ra: <b>{7}</b>
                    <br />
                    Trể: <b>{8}</b>
                    <br />
                    Về sớm: <b>{9}</b>
                    <br />
                    Tổng thời gian làm việc: <b>{10}</b> ({11} ngày)
                    <br />
                    Anh/chị vui lòng bấm <a href="{13}" alt="Xác nhận công"> Xác nhận công </a> trước ngày <b>{16}</b>. 
                </div>
                <div>
                    <br />
                    Mọi thắc mắc cần giải quyết vui lòng liên hệ phòng Hành chính - nhân sự.
                </div>
                <div>
                    <br />
                    Nếu quên mật khẩu đăng nhập hệ thống. Bấm <a href="{15}" alt="Quên mật khẩu"> Quên mật khẩu </a>.
                    <br />
                    <i>Mật khẩu mới sẽ được gửi qua email của bạn.</i>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    Cảm ơn và trân trọng.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <a href="{14}" style="text-decoration:underline;">
                    <img src="{14}/images/logo.png" width="113" height="29" style="display:block">
                </a>
                <br />
                <br />
                <b>Công ty TNHH CNSH SÀI GÒN XANH</b>
                <br />
                127 Nguyễn Trọng Tuyển, P. 15, Q. Phú Nhuận, HCM
                <br />
                Điện thoại:     028.3844.2457 – Ext: 151
                <br />
                Fax:   028.3997.1869
                <br />
                MST:  0302519810
                <br />
                Giờ làm việc: Thứ 2 - Thứ 7 8:00 - 17:00, Chủ nhật: Nghỉ
                <br />
                Hỗ trợ: <a href="mailto:xuan.tm@tribat.vn" style="text-decoration:none;">IT - Phòng HCNS</a>
            </td>
        </tr>
    </table>
</body>
</html>
