<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{0}</title>
</head>

<body>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                Kính gửi {1},
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    Xác nhận công của <b>{2}</b>
                </div>
                <div>
                    Họ và tên: <b>{3}</b>
                    <br />
                    Email: <b>{4}</b>
                    <br />
                    Chức vụ: <b>{5}</b>
                    <br />
                    <hr align="left" style="border:0px;border-top:1px solid red;height:1px;color:red;background:red;margin:0px;" />
                    Chi tiết chấm công:
                    <br />
                    <b>{6}</b>
                    <br />
                    Lý do:
                    <b>{7}</b>
                    <br />
                    Chi tiết:
                    <b>{8}</b>
                    <br />
                    Số điện thoại liên hệ: <b>{9}</b>
                    <br />
                    <br />
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="center" width="300" height="40" bgcolor="#ee4a4b" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
                                <a href="{10}" style="font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
                                    <span style="color: #FFFFFF">Đồng ý</span>
                                </a>
                            </td>
                            <td align="center" width="300" height="40" bgcolor="#505050" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
                                <a href="{11}" style="font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
                                    <span style="color: #FFFFFF">Không đồng ý</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />
                    Chi tiết công <a href="{12}"> Chi tiết </a>
                </div>
                <div>
                    <br />
                    Mọi thắc mắc cần giải quyết vui lòng liên hệ phòng Hành chính - nhân sự.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    <small style="font-size:10px; font-style:italic">
                        Thư điện tử này được gửi ra từ hệ thống tự động.
                        Quý bà/ông vui lòng không hồi âm về địa chỉ thư điện tử này.
                        Tribat duy trì tiêu chuẩn và thủ tục bảo mật nghiêm ngặt để ngăn chặn việc sử dụng trái phép thông tin của bạn.
                    </small>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <br />
                    Cảm ơn và trân trọng.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <a href="{13}" style="text-decoration:underline;">
                    <img src="{13}/images/logo.png" width="113" height="29" style="display:block">
                </a>
                <br />
                <br />
                <b>Công ty TNHH CNSH SÀI GÒN XANH</b>
                <br />
                127 Nguyễn Trọng Tuyển, P. 15, Q. Phú Nhuận, HCM
                <br />
                Điện thoại:     028.3844.2457 – Ext: 151
                <br />
                Fax:   028.3997.1869
                <br />
                MST:  0302519810
                <br />
                Giờ làm việc: Thứ 2 - Thứ 7 8:00 - 17:00, Chủ nhật: Nghỉ
                <br />
                Hỗ trợ: <a href="mailto:hotro@tribat.vn" style="text-decoration:none;">hotro@tribat.vn</a>
            </td>
        </tr>
    </table>
</body>
</html>
