<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!-- 4: normal | 5: employee notification-->
    <add key="mode" value="4" />
    <add key="isMail" value="true" />
    <!-- true | false -->
    <add key="debug" value="xuan.tm@tribat.vn" />
  </appSettings>
</configuration>