<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="connection" value="mongodb://localhost:27017" />
    <add key="database" value="tribat" />
    <!-- 4: normal | 5: employee notification | 6: timekeeper monthly-->
    <add key="mode" value="4" />
    <!-- true | false -->
    <add key="isMail" value="true" />
    <!-- value email address -->
    <add key="debug" value="" />
  </appSettings>
</configuration>