@using Common.Utilities;
@using Common.Enums;
@using ViewModels;
@model NotificationViewModel;

@{
    ViewData["Title"] = "Thông báo";

}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Thông báo
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="space-sm">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <i class="far fa-clock"></i>
                    <span>
                        Đang cập nhật thông tin.
                    </span>
                </div>
            </div>
        </div>
    </section>


</div>

