@using Common.Utilities;

@{
    ViewData["Title"] = "Thông tin Nghỉ lễ Giỗ Tổ Hùng Vương, Ngày Giải phóng miền Nam thống nhất Đất nước 30/04 và ngày Quốc tê Lao động 01/05 năm 2019";
    Layout = "~/Views/Shared/_LayoutNotification.cshtml";
}

<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thông tin Nghỉ lễ Giỗ Tổ Hùng Vương, Ngày Giải phóng miền Nam thống nhất Đất nước 30/04 và ngày Quốc tê Lao động 01/05 năm 2019</li>
        </ol>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <iframe src="~/documents/2019-04-10-cv-122-tb-nghi-le-gio-to-hung-vuong-GPMN-thong nhat-dat-nuoc-30-04-QTLD-01-05-nam-2019.pdf" style="width:100%; height:900px;" frameborder="0"></iframe>
        </div>
    </div>
</div>

