@using Common.Utilities;
@{
    ViewData["Title"] = "Tải lên dữ liệu [Nhân sự lương sản xuất]";
    Layout = "~/Views/Shared/_LayoutSocialFb.cshtml";
}
<style>
    #myProgress {
        width: 100%;
        background-color: grey;
    }

    #myBar {
        width: 1%;
        height: 30px;
        background-color: green;
    }
</style>

<h2>@ViewData["Title"]</h2>
<form method="post" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Document/@Constants.LinkSalary.NhanVienKhoiSanXuat/@Constants.LinkSalary.Update" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <input type="file" name="files" class="form-control fUpload" />
        </div>
        <div class="col-md-8">
            <input type="button" class="hidden btnUpload" value="Tải lên" />
        </div>
    </div>
    <br />
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
    </div>
</form>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/lib/jq-ajax-progress-master/jq-ajax-progress.min.js"></script>
        <script src="~/js/fix-file.js?@DateTime.Now.Ticks"></script>
    }
}