

<section class="height-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8">
                <div class="card card-lg text-center">
                    <div class="card-body">
                        <i class="icon-add-to-list display-4 opacity-20"></i>
                        <h1 class="h5">Dữ liệu đang cập nhật</h1>
                        <p>
                            Bắt đầu tạo tất cả mọi thứ bằng cách nhấn vào nút bên dưới. Hãy bắt đầu ngay bây giờ...
                        </p>
                        <a href="#" class="btn btn-lg btn-primary">Tạo dữ liệu...</a>
                    </div>
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>