@using Common.Utilities;
@using Helpers;
@using ViewModels;
@model ContentViewModel;

@{
    Layout = "~/Views/Shared/_Wingman.cshtml";
    var language = ViewData["Language"].ToString();
}

@await Html.PartialAsync("MenuPartial", Model.Menu)

<div class="main-container">
    <!-- ******CONTACT MAIN****** -->
    <section id="contact-main" class="contact-main section">
        <div class="container text-center">
            @*<h2 class="title">Get in touch</h2>
                <p class="intro">We'd love to hear from you. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>*@
            <h2 class="title">Liên hệ / Contact</h2>
            <p class="intro">Chúng tôi rất muốn bạn liên hệ. We'd love to hear from you. </p>

            <div class="row">
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="item-inner">
                        <div class="icon">
                            <!--<i class="fa fa-envelope"></i>-->
                            <span class="pe-icon pe-7s-mail-open-file"></span>
                        </div>
                        <div class="details">
                            @*<h4>Email &amp; Twitter:</h4>*@
                            <h4>Email:</h4>
                            <p><a href="mailto:hotro@tribat.vn">hotro@tribat.vn</a></p>
                            @*<p><a href="https://twitter.com/3rdwave_themes" target="_blank">@@3rdwave_themes</a></p>*@
                        </div><!--details-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12">
                    <div class="item-inner">
                        <div class="icon">
                            <!--<i class="fa fa-phone"></i>-->
                            <span class="pe-icon pe-7s-phone"></span>
                        </div>
                        <div class="details">
                            <h4>Gọi chúng tôi <br />Call me:</h4>
                            <p class="phone"><a href="tel:02839971869"> (028)-39971869 </a></p>
                            <p class="phone"><a href="tel:02838442457"> (028)-38442457 </a></p>
                            <p class="day">Thứ hai-bảy 08am - 17pm GMT<br />Monday-Saturday</p>
                        </div>
                    </div>
                </div><!--//item-->
                <div class="item col-md-4 col-sm-12 col-xs-12 last">
                    <div class="item-inner">
                        <div class="icon">
                            <!--<i class="fa fa-map-marker"></i>-->
                            <span class="pe-icon pe-7s-map-2"></span>
                        </div>
                        <div class="details">
                            @*<h4>Find us at:</h4>*@
                            <h4>Gặp chúng tôi ở:<br />Meet me:</h4>
                            <p class="address"><a href="https://goo.gl/maps/6bHjuivZjBS2" target="_blank">127 Nguyễn Trọng Tuyển<br />Phú Nhuận, HCM, VN</a></p>
                            @*<p class="address">Đa Phước<br />Bình Chánh, HCM, VN</p>*@
                        </div><!--details-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//contact-->

    <section class="container contact-form-section">
        <h3 class="title text-center">Thông tin liên hệ <br />Contact form</h3>
        <p class="intro text-center">Cảm ơn bạn dành thời gian liên hệ, chúng tôi liên hệ bạn nhanh nhất có thể.</p>
        <p class="intro text-center">Thank you for taking the time to contact us, we contact you as quickly as possible.</p>
        <div class="row">
            <div class="col-12">
                <form class="form" id="contact-form" method="post" action="#">
                    <div class="form-group name">
                        <label class="sr-only" for="name">Họ và tên (Full Name)</label>
                        <input id="name" name="name" type="text" class="form-control" placeholder="Họ và tên">
                    </div><!--//form-group-->
                    <div class="form-group email">
                        <label class="sr-only" for="email">Email</label>
                        <input id="email" type="email" class="form-control" placeholder="Email của bạn">
                    </div><!--//form-group-->
                    <div class="form-group message">
                        <label class="sr-only" for="message">Tin nhắn (Message)</label>
                        <textarea id="message" class="form-control" rows="8" placeholder="Tin nhắn"></textarea>
                    </div><!--//form-group-->
                    <button type="submit" class="btn btn-block btn-cta-primary">Gửi tin nhắn (Send)</button>
                </form>
            </div>
        </div>
    </section>

    <section class="container contact-form-section">
        <h3 class="sr-only title">Google Map</h3>
        <div class="row">
            <div class="col-12">
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.7865504698525!2d106.65985715047927!3d10.673669463963085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317531bafb1027f3%3A0xa5bd84e6bd5fb945!2zTmjDoCBtw6F5IFjhu60gbMO9IGLDuW4gdGjhuqNpIFPDoGkgR8OybiBYYW5o!5e0!3m2!1svi!2s!4v1551320699496" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
</div>

@await Html.PartialAsync("FooterPartial", Model.Menu)
