@{
    Layout = "~/Views/Shared/_Tempo.cshtml";
}

<!-- ******CONTACT MAIN****** -->
<section id="contact-main" class="contact-main section">
    <div class="container text-center">
        @*<h2 class="title">Get in touch</h2>
        <p class="intro">We'd love to hear from you. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>*@
        <h2 class="title">Liên hệ</h2>
        <p class="intro">Chúng tôi rất muốn bạn liên hệ. We'd love to hear from you. </p>

        <div class="row">
            <div class="item col-md-4 col-sm-12 col-xs-12">
                <div class="item-inner">
                    <div class="icon">
                        <!--<i class="fa fa-envelope"></i>-->
                        <span class="pe-icon pe-7s-mail-open-file"></span>
                    </div>
                    <div class="details">
                        @*<h4>Email &amp; Twitter:</h4>*@
                        <h4>Email:</h4>
                        <p><a href="mailto:hotro@tribat.vn">hotro@tribat.vn</a></p>
                        @*<p><a href="https://twitter.com/3rdwave_themes" target="_blank">@@3rdwave_themes</a></p>*@
                    </div><!--details-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-12 col-xs-12">
                <div class="item-inner">
                    <div class="icon">
                        <!--<i class="fa fa-phone"></i>-->
                        <span class="pe-icon pe-7s-phone"></span>
                    </div>
                    <div class="details">
                        <h4>Gọi chúng tôi:</h4>
                        <p class="phone"><a href="tel:02839971869"> (028)-39971869 </a></p>
                        <p class="phone"><a href="tel:02838442457"> (028)-38442457 </a></p>
                        <p class="day">Thứ hai-bảy 8am-17pm (GMT)</p>
                    </div><!--details-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-12 col-xs-12 last">
                <div class="item-inner">
                    <div class="icon">
                        <!--<i class="fa fa-map-marker"></i>-->
                        <span class="pe-icon pe-7s-map-2"></span>
                    </div>
                    <div class="details">
                        @*<h4>Find us at:</h4>*@
                        <h4>Gặp chúng tôi ở:</h4>
                        <p class="address">127 Nguyễn Trọng Tuyển<br />Phú Nhuận, HCM, VN</p>
                        @*<p class="address">Đa Phước<br />Bình Chánh, HCM, VN</p>*@
                    </div><!--details-->
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//contact-->
<section class="container contact-form-section">
    <h3 class="title text-center">Thông tin liên hệ</h3>
    <p class="intro text-center">Cảm ơn bạn dành thời gian liên hệ, chúng tôi liên hệ bạn nhanh nhất có thể.</p>
    @*<p class="intro text-center">
        <a href="https://twitter.com/3rdwave_themes" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @@3rdwave_themes</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </p>*@

    <div class="row text-center">
        <div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-0 col-xs-offset-0">
            <form class="form" id="contact-form" method="post" action="#">
                <div class="form-group name">
                    <label class="sr-only" for="name">Họ và tên</label>
                    <input id="name" name="name" type="text" class="form-control" placeholder="Họ và tên">
                </div><!--//form-group-->
                <div class="form-group email">
                    <label class="sr-only" for="email">Email</label>
                    <input id="email" type="email" class="form-control" placeholder="Email của bạn">
                </div><!--//form-group-->
                <div class="form-group message">
                    <label class="sr-only" for="message">Tin nhắn</label>
                    <textarea id="message" class="form-control" rows="8" placeholder="Tin nhắn"></textarea>
                </div><!--//form-group-->
                <button type="submit" class="btn btn-block btn-cta-primary">Gửi tin nhắn</button>
            </form><!--//form-->
        </div><!--//contact-form-->
    </div><!--//row-->
</section>

<section class="map-section">
    <h3 class="sr-only title">Google Map</h3>
    <div class="gmap-wrapper" id="map">
        <!--//You need to embed your own google map below-->
        <!--//Ref: https://support.google.com/maps/answer/144361?co=GENIE.Platform%3DDesktop&hl=en -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.786550469851!2d106.65985715039199!3d10.67366946396319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317531bafb1027f3%3A0xa5bd84e6bd5fb945!2zTmjDoCBtw6F5IFjhu60gbMO9IGLDuW4gdGjhuqNpIFPDoGkgR8OybiBYYW5o!5e0!3m2!1sen!2sus!4v1524299311004" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5520.893432459712!2d106.65802400183212!3d10.674900699941869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317531bafb1027f3%3A0xa5bd84e6bd5fb945!2zTmjDoCBtw6F5IFjhu60gbMO9IGLDuW4gdGjhuqNpIFPDoGkgR8OybiBYYW5o!5e1!3m2!1sen!2sus!4v1524299454746" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>*@
        <!--//Văn phòng-->
        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.182908160551!2d106.6767309809004!3d10.7972989976952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528d6404c2c67%3A0x8eb949ad5ab63497!2zMTI3IE5ndXnhu4VuIFRy4buNbmcgVHV54buDbiwgcGjGsOG7nW5nIDE1LCBQaMO6IE5odeG6rW4sIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1446367089906" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>*@
    </div><!--//gmap-wrapper-->
</section><!--//map-->
