<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="connection" value="mongodb://localhost:27017" />
    <add key="database" value="tribat" />
    <add key="location" value="NM" /> <!-- VP | NM -->
    <add key="modeData" value="0" /> <!-- 0: get by date | 1: Get all data -->
    <add key="month" value="0" /> <!-- 0: default | -1: Get data month -1-->
    <add key="isMail" value="0" /> <!-- 0: false | 1: true -->
    <add key="debug" value="259" /> <!-- EnrollNumber -->
  </appSettings>
</configuration>