<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="location" value="NM" /> <!-- VP | NM -->
    <add key="modeData" value="true" /> <!-- true | false : // true: Get all data | false get by date-->
    <add key="day" value="-30" />
    <add key="isMail" value="false" /> <!-- true | false -->
  </appSettings>
</configuration>