<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Get userinformation: 1: true, 0: false-->
    <add key="Users" value="0" />

    <!--Get AttLogs: 1: true, 0: false-->
    <add key="AttLogs" value="1" />
    
    <!--Mode base above key: 1: true=> get all data, 0: false-->
    <add key="Mode" value="0" />
    <!--Mode is 0. Get data: Now.AddDays(Day)-->
    <add key="GetDataDay" value="-7" />
    
    <!--Devide Model-->
    <add key="Model" value="x628C" />
    <!--Devide Location-->
    <add key="Location" value="VP" />
    <!--Devide Ip-->
    <!--VP-->
    <add key="Ip" value="192.168.1.201" />
    <!--NM - New-->
    <!--<add key="Ip" value="192.168.2.223" />-->
    <!--NM - Old-->
    <!--<add key="Ip" value="192.168.2.222" />-->
    <!--Devide Ip-->
    <add key="Port" value="4370" />
    <!--Database Information-->
    <!--<add key="Mongo_Connection" value="mongodb://localhost:27017" />-->
    <add key="Mongo_Connection" value="mongodb://113.161.72.129:27017" />
    <!--use tribat. One db-->
    <add key="Mongo_Database" value="tribat" />

    <add key="Debug" value="0" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>