@using System.Globalization;
@using Common.Utilities;
@using ViewModels
@model TimeKeeperViewModel

@{
    Layout = "~/Views/Shared/_LayoutData.cshtml";
}

<p>Update</p>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/timekeeper.js?@DateTime.Now.Ticks"></script>
    }
}


