@using Common.Utilities;
@using Common.Enums;
@using ViewModels;
@model HomeErpViewModel;

@{
    Layout = "~/Views/Shared/_LayoutSocialFb.cshtml";
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
    var rightHr = false;
    if (!string.IsNullOrEmpty(login))
    {
        rightHr = Utility.IsRight(login, Constants.Rights.HR, (int)ERights.View);
    }
}

<h1>Hệ thống đang cập nhật dữ liệu. Bạn thông cảm và quay lại sau....</h1>

<button type="button" class="btn btn-primary">KHO</button>
<button type="button" class="btn btn-secondary">BÙN</button>
<button type="button" class="btn btn-success">DỰ ÁN CÔNG</button>

<h5 class="h3 mb-2">Tin tức</h5>
<div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2i6oFCa33Ng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="mb-2">Phóng sự nhà máy xử lý bùn thải Sài Gòn Xanh</div>

@section scripts {
    <script type="text/javascript" src="~/js/ke-hoach-tong-hop.js?@Constants.VersionJs"></script>
}
