@using Common.Utilities;
@using Common.Enums;
@using ViewModels;
@model HomeErpViewModel;

@{
    
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
    var rightHr = false;
    if (!string.IsNullOrEmpty(login))
    {
        rightHr = Utility.IsRight(login, Constants.Rights.HR, (int)ERights.View);
    }
}



<button type="button" class="btn btn-primary">Kho nguyên liệu</button>
<button type="button" class="btn btn-primary">Kho thành phẩm</button>
<button type="button" class="btn btn-primary">Kho bùn</button>
<button type="button" class="btn btn-secondary">Kho xử lý</button>
<button type="button" class="btn btn-secondary">Kho tiếp nhận xử lý bùn</button>
<button type="button" class="btn btn-success">Dự án công</button>

@section scripts {
    <script type="text/javascript" src="~/js/ke-hoach-tong-hop.js?@Constants.VersionJs"></script>
}
