<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="connection" value="mongodb://xbatads:xcore910602@localhost/tribat" />
    <add key="database" value="tribat" />
    <add key="month" value="0" />
    <!-- EnrollNumber -->
    <add key="debug" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.4.0" newVersion="1.8.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>