<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="month" value="6" />
    <add key="connection" value="mongodb://localhost:27017" />
    <add key="database" value="tribat" />
  </appSettings>
</configuration>