<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net451" />
  <package id="DnsClient" version="1.0.7" targetFramework="net451" />
  <package id="MailKit" version="2.1.4" targetFramework="net451" />
  <package id="MimeKit" version="2.1.4" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.7.0" targetFramework="net451" />
  <package id="MongoDB.Driver" version="2.19.0" targetFramework="net451" />
  <package id="MongoDB.Driver.Core" version="2.7.0" targetFramework="net451" />
  <package id="NPOI" version="2.4.1" targetFramework="net451" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net451" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net451" />
</packages>