@{
    ViewData["Title"] = "Dữ liệu nhà máy";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <form method="post" action="/tai-lieu/nha-may/ma-so-van-hanh" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <input type="file" name="files" class="form-control fUpload" />
            </div>
            <div class="col-md-8">
                <input type="button" class="hidden btnUpload" value="Tải lên [Mã Số] & [Vận Hành]" />
            </div>
        </div>
        <br />
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
        </div>
    </form>

    <form method="post" action="/tai-lieu/nha-may/thong-ke/tuan/" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <input type="file" name="files" class="form-control fUpload" />
            </div>
            <div class="col-md-8">
                <input type="button" class="hidden btnUpload" value="Tải lên tài liệu tuần" />
            </div>
        </div>
        <br />
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
        </div>
        <div class="dvData"></div>
    </form>

    <form method="post" action="/tai-lieu/nha-may/nha-thau" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <input type="file" name="files" class="form-control fUpload" />
            </div>
            <div class="col-md-8">
                <input type="button" class="hidden btnUpload" value="Tải lên dữ liệu nhà thầu" />
            </div>
        </div>
        <br />
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
        </div>
        <div class="dvData"></div>
    </form>

    <form method="post" action="/tai-lieu/nha-may/ma-so/import" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <input type="file" name="files" class="form-control fUpload" />
            </div>
            <div class="col-md-8">
                <input type="button" class="hidden btnUpload" value="Tải lên Mã số" />
            </div>
        </div>
        <br />
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
        </div>
        <div class="dvData"></div>
    </form>
</div>


@section scripts {
    @{
        /**/

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/lib/jq-ajax-progress-master/jq-ajax-progress.min.js"></script>
        <script src="~/js/file-factory-report.js?@DateTime.Now.Ticks"></script>
    }
}