
@{
    ViewData["Title"] = "Index";
    
}

    <div class="container">
        <h2>Tài liệu</h2>
        <div class="row">
            <div class="col-xs-12">
                <a href="/tai-lieu/nhan-vien/">Dữ liệu nhân viên</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a href="/tai-lieu/co-so-kham-chua-benh-ban-dau/">Dữ liệu cơ sở khám chữa bệnh ban đầu</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a href="/tai-lieu/nha-may">Dữ liệu Nhà máy</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a href="/tai-lieu/dia-diem/">Dữ liệu địa điểm</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a href="/tai-lieu/thang-luong/">Dữ liệu thang lương thực tế</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a href="/tai-lieu/luong-nhan-vien/">Dữ liệu lương nhân viên thực tế tháng 8</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a href="/tai-lieu/sale-chuc-vu/">Dữ liệu chức vụ sale</a>
            </div>
        </div>
    </div>





